<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    
  </head>
  

  <body>
    <h1>Dash Board </h1>
    <h2>จัดการแผนก</h2>
    <div class="dashboard-cotainer">
      <%= render :partial=>'dashboard_form' %>  
    </div>
  </body>
</html>

