
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500&display=swap');

h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 25px;
    margin-bottom: 0;
}



h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 0;
    width: 90%;
}

.title-department-tag{
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
}

#ot {
    color: red;
}

.fa{
  font-size: unset;
  font-size: 5em;
  &:hover{
    color: #4e73df;
  }
}



.dashboard-cotainer {
    padding: 3em;
    display: grid;
    grid-template-columns:  auto auto auto ;
    grid-gap: 5em;
    margin-top: 15px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
}

.item-container {

    border-radius: 10px;
    display: grid ;
    grid-template-columns: auto auto ;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #63C898;
    font-size: 18px;;
    border : 1px solid rgb(206, 206, 206);
    .title-department {
        color: white;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 10px 10px 0 0 ;
        border: none;
        background-image: url('/assets/bg_card.jpg');
        background-size: cover;
        grid-column:1/3;
        grid-row: 1;
        padding-top: 1em;
    }
    .actual-btn {
        border-radius: 0 0 0 10px;
        a{
            color: white;
        }
    }

    .plan-btn{
        border-radius: 0 0 10px 0;
        a{
            color: white;
        }
    }


    .percent-container{
        grid-column: 1/3;
        grid-row : 2;
        background-color: white;
    }

    &:hover {
      box-shadow: 5px 0 5px 0 #bbbbbb;
    }


}



@media screen and (max-width: 992px) {
    .dashboard-cotainer {

        grid-template-columns:  auto  ;

    }
  }


  .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #eaecf4;
    border-radius: 0.35rem;
    margin: 1em;
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #4e73df;
    transition: width 0.6s ease;
  }

  @media (prefers-reduced-motion: reduce) {
    .progress-bar {
      transition: none;

    }
  }

  .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
  }

  .progress-bar-animated {
    -webkit-animation: 1s linear infinite progress-bar-stripes;
    animation: 1s linear infinite progress-bar-stripes;
  }

  @media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
      -webkit-animation: none;
      animation: none;
    }
  }
