@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500&display=swap');



body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.background {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.login-btn {
  background-color: #39966a;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 5em;
  display: inline-block;
  padding: .5em 2.5em;
  width: unset;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  margin-bottom: 3em;

  &:hover {
    background: #246e4c;
    color: white;
  }
}

.input-login input, textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
  }

.input-login   select {
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
    background: transparent;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  }



.login {
    background-color: white;
    display: grid;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 0 5px 0 #bbbbbb;
}
.card_input{
  display: grid;
  grid-template-columns: 100%;
}
.avatar {
    margin-top: 25px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;;
}

.login_form{
    h2{
        text-transform: uppercase;
        font-weight: bold;
    }
}

.input-div{
    display: grid;
    grid-template-columns:  100%;
    margin: 0 ;
    padding: 25px;
    div {
        position: relative;
        height: 45px;
    }
    h5{
        position: absolute;
        transform: translate(20%,-55%);
        font-size: 18px;
        transition: .3s;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.input-div.one{
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-div.two{
    margin-bottom: 10px;
}

#username {
  background:none;
  border-radius: 100px;
  border: .2em solid black;
  border-color: #dddddd;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 18px;
  padding: 12px;
  transition: .3s;
  &:focus {
      border-color: #63C898;
  }
}

#password {
    background:none;
    border-radius: 100px;
    border: .2em solid black;
    border-color: #dddddd;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 18px;
    padding: 12px;
    transition: .3s;
    &:focus {
        border-color: #63C898;
    }

}

input:focus{
    outline: none;
}
.input-div.focus .attr{

    position: absolute;
    transform: translate(20%,-200%);
    font-size: 18px;
    transition: .2s;
    color: #63C898;


}


@media screen and (max-width: 992px) {
    .login {
        background-color: white;
        display: grid;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 0 5px 0 #bbbbbb;
        padding-bottom: 2em;
    }

    .login-btn {
        color: white;
        font-weight: bold;
        font-size: 1em;
        border: none;
        border-radius: 5em;
        display: inline-block;
        padding: .5em 2.5em;
        width: unset;
        cursor: pointer;
        text-transform: uppercase;
        font-family: 'IBM Plex Sans Thai', sans-serif;
        margin-bottom: .1em;

    }

    #username {
        font-size: 12px;
    }

    #password {
        font-size: 12px;
    }

    .input-div{
        display: grid;
        grid-template-columns:  100%;
        margin: 0 ;
        padding: 25px;
        div {
            position: relative;
            height: 45px;
        }
        h5{
            position: absolute;
            transform: translate(10%,-75%);
            font-size: 12px;
            transition: .3s;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
