@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500&display=swap');



body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.background {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.login {
    background-color: white;
    display: grid;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 0 5px 0 #bbbbbb;
}

.avatar {
    margin-top: 25px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;;
}

.login_form{
    h2{
        text-transform: uppercase;
        font-weight: bold;
    }
}

.input-div{
    display: grid;
    grid-template-columns:  100%;
    margin: 0 ;
    padding: 25px;
    div {
        position: relative;
        height: 45px;
    }
    h5{
        position: absolute;
        transform: translate(10%,-75%);
        font-size: 18px;
        transition: .3s;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.input-div.one{

    margin-top: 10px;
}

.input-div.two{
    margin-bottom: 10px;
}

#username {
    background-color: #dddddd;
    border-radius: 100px;
    border-color: #dddddd;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    &:focus {
        background: #bbbbbb;
    }
}

#password {
    background-color: #dddddd;
    border-radius: 100px;
    border-color: #dddddd;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 18px;
    padding: 12px; 
    &:focus {
        background: #bbbbbb;
    }
    
}

input:focus{
    outline: none;
}
.input-div.focus .attr{
    
    position: absolute;
    transform: translate(10%,-200%);
    font-size: 18px;
    transition: .3s;
     
    
}