
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500&display=swap');

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.pick_time {
    margin-top: 1em;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto auto ;
    box-shadow: 5px 0 5px 0 #bbbbbb;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-left: 0.25rem solid #36b9cc!important;
    &:hover{
        box-shadow: 5px 0 5px 0 #bbbbbb;
    }
}

#date_work_date_work {
    width: unset;
}

.item {
    display: inline;
    margin: auto;

}



.form-container{
  display: flex;
  align-items:center;
  font-size: 1.2em;
}

.select-time-btn{
    background-color: #36b9cc;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 5em;
    display: inline-block;
    padding: .5em 2.5em;
    width: unset;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans Thai', sans-serif;

    &:hover {
      background: #167d8d;
      color: white;
    }
}

.item-form{
    margin: .3em
}

@media screen and (max-width: 992px) {

    .pick_time {
        margin-top: 1em;
        background-color: white;
        padding: 1em;
        display: grid;
        grid-template-columns: auto ;
        box-shadow: 5px 0 5px 0 #bbbbbb;
        width: 90%;
        margin-bottom: 0;
        row-gap: 1em;
    }

    .item {
        display: unset;
        margin-top: .3em;
        font-size: .8em;
        width: 100%;

    }
    #date_work_date_work {
        margin-right: auto;
        width: 95%;
    }

    .form-container{
        display: grid;
        grid-template-columns: auto;

    }

    .item-form{
        display: grid;
        grid-template-columns: auto;
        gap: 1px;
        width: 100%;
        margin: .3em
    }

    .plan-btn-show {
        margin-left :auto;
    }
}


//@employee section

.title-container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.btn-container{
  margin-left: 1.5em;
}
.sub-title{
  margin-left: unset;
  margin-top: .5em;
}
.today-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  font-size: .8em;
}

.today-item{
  box-shadow: 5px 0 5px 0 #bbbbbb;
  background-color: white;
  border-radius: 1em;
  display: grid;
  grid-template-columns: auto;
}

.title-card{
  background-color: #5d3998;
  border-radius: 1em 1em 0 0 ;
  color: white;
}

 .row-title{
  border-radius: 100px;
  background-color: #5d3998;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: .8em;
    color: white;
}


@media screen and (max-width: 992px) {
  .today-container{
    grid-template-columns: auto;
  }
}
